<style>
	body{
		background: url(../assets/images/grid_noise.png);
		position: relative;
	}
	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
		width: 100%;
		margin: auto;
	}
</style>