body{
    background: url(assets/images/grid_noise.png);
    position: relative;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

table#tblGrades td, table#tblGrades tr, table#tblGrades th {
    border: 1px solid black;
}
table#tblGrades {
    border-collapse: collapse;
}
table#tblGrades td, table#tblGrades th {
    min-width: 50px;
    height: 21px;
}
table#tblGrades span {
    width: 100%;
    display: block;
}
div#div-add-row {
    margin: 20px 0px;
}
div#div-save-sched {
    margin: 20px 0px;
}
select#select-sched-teacher {
    padding: 6px;
}
.select-invalid {
    border-color: red;
}
table#grid-sched tr td {
    padding: 6px;
}