.form-group {
    display: table !important;
}

.form-group > label {
    display: table;
}

.form-group > input {
    width: 100% !important;
}

.form-group > select {
    display: block !important;
    width: 100% !important;
}

.form-inline .form-group {
    width: 100% !important;
}


/*-- upload file --*/