/*for teacher account only*/

body{
	background: url(assets/images/grid_noise.png);
	position: relative;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width: 100%;
	margin: auto;
}

table#tblGrades td, table#tblGrades tr, table#tblGrades th {
    border: 1px solid black;
}
table#tblGrades {
    border-collapse: collapse;
}
table#tblGrades td, table#tblGrades th {
    min-width: 50px;
    height: 21px;
}
.editablecontent_cl{
    width: 100px;
    background-color: #98BDD0;
    position: absolute;
    border-radius: 3px;
    margin: 1px;
    padding-left: 4px;
}
span.answerlist {
    display: inline;
}


/*add lecture*/
select#lectureUserYear {
    width: 150px;
}

select#lectureUserSection {
    width: 150px;
}


/*sched*/
select#select-sched-teacher {
    padding: 6px;
}