.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width: 100%;
	margin: auto;
}
div#calendar,
div#calendar-view {
    max-width: 900px;
    margin: 0 auto;
}
.container {
    margin-bottom: 50px;
}